:root {
  font-family: Ubuntu, sans-serif;

  background-color: #f8f9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #f1f2f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
